@page
@model ASPNETRazor.Pages.Email.ValidateModel
@{
    Layout = null;
}


<div style="border:solid 3px red" class="container">
    <div class="text-center" style="background-color:aqua">
        <form method="post">
            <label>Email：</label><input asp-for="EmailAddress" /><br />         
            <button type="submit">提交</button>
        </form>
    </div>
</div>